#settings{:data => {:role => 'page', :theme => jquery_mobile_theme, :url => "/feeds/#{@feed.id}/edit" }}
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", settings_dashboard_index_path, :data => back_button_data
    %h1=@feed.title
  
  %div{:data => { :role => 'content'}}
    = link_to "Unsubscribe", feed_path(@feed), :method=>"delete", :data => {:role=>'button', :icon=>"delete", :confirm => "Are you sure?"}
    = form_for @feed do |f|
      = f.label :title
      = f.text_field :title
      = f.label :sanitization_level
      = f.select :sanitization_level, Feed::SANITATION_LEVELS.map{|k, v| [v, k]}
      = f.label :folder_id
      = f.select :folder_id, current_user.folders.order(:name).map{|f| [f.name, f.id] }
      = f.submit "Update Feed"
