=jquery_mobile_page(:id => "new-folder") do
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", settings_dashboard_index_path, :data => back_button_data
    %h1 New Folder
  
  %div{:data => { :role => 'content'}}
    = error_messages_for @folder
    = form_for @folder, :html => { :class => "formarea" } do |f|
      %div
        = f.label :name
        = f.text_field :name
      %div
        %label.padding &nbsp;
        = f.submit
